<div class="header index">

	<div class="topHeader  navbar-custom" >

		<div class="container">
			<div class="row">

				<div class="column">

					<div class="three columns logoColumn">
						<div class="logo"></div>		
					</div>

					<div class="nav navbar-nav navbar-right">
						<ul class="nav navbar-nav">
							<li class="nav_action"><%= link_to("Sign up", {:action => 'signup'}, :class => 'action new') %></li>
							<li class="nav_action"><%= link_to("Login", {:action => 'login'}, :class => 'action new') %></li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="container middle-custom">
		<div class="row">

			<div class="column">

				<div class="row features main">
					<div class=" column">
						<div class="outer">
							<div class="copy  text-center">
								<h1>Start achieving your dreams today.</h1>
								<p>Goal tracker helps you track and achieve your goals in life.</p>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<div class="features sub lower-part">

		<div class="container">

			<div class="row">
				<div class="col-md-4">
					<h2>Set your goals</h2>
					<p>Setting a goal is not the main thing. It is deciding how you will go about achieving it and staying with that plan.</p>
					
				</div>

				<div class="col-md-4">
					<h2>Track your goals</h2>
					<p>Review your goals twice every day in order to be focused on achieving them.</p>
					
				</div>

				<div class="col-md-4">
					<h2>Achieve your goals</h2>
					<p>What you get by achieving your goals is not as important as what you become by achieving your goals.</p>
					
				</div>
			</div>

		</div>
	</div>
	
</div>
